<a href="https://colab.research.google.com/github/Dhawaldwivedi/Bca-5th-sem-AI-mmdu/blob/main/ai-ml3-g3/Loops_data_structures_and_numpy_bca.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('hi')

hi

# Loops

In [3]:
## for loop
for i in range(2,10):
  print(i)

2
3
4
5
6
7
8
9

In [8]:
# step size  # range(start index , end+1 index , step size)
for i in range(2,-2,1):
  print(i)

2
3
4
5
6
7
8
9
10

In [9]:
# for loop through string
s = "mmdu"
for i in s:
  print(i)

m
m
d
u

In [ ]:
# while loop
count = 0
while count<5:
  print(count)
  count= count+1

0
1
2
3
4

In [ ]:
# break statements
for i in range(20):
  print(i)
  if i==5:
    break

0
1
2
3
4
5

In [ ]:
# continue
for i in range(10):
  if i==5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

In [ ]:
## Nested loopss
## a loop inside a loop

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

value of i is 4 and j is 6

In [ ]:
## Example- Prime numbers between 1 and 100

In [14]:
''' *****
    *****
    *****
    *****
    *****  '''
for i in range(5):
  for j in range(5):
    print("*",end ="")
  print()

''' *
    **
    ***
    ****
    *****  '''

for i in range(5):
  for j in range(i+1):
    print("*",end ="")
  print()

*****
*****
*****
*****
*****
*
**
***
****
*****

In [ ]:
'''  *****
     ****
     ***
     **
     *  '''

'  *****\n     ****\n     ***\n     **\n     *  '

# Data Structures

In [ ]:
lst=[]
print(type(lst))

<class 'list'>

In [15]:
### Accessing List Elements

fruits=["apple","banana","cherry","kiwi","gauva"]

In [ ]:
print(fruits[0])
print(fruits[2])
print(fruits[4])
print(fruits[-1])

apple
cherry
gauva
gauva

In [16]:
## Modifying The List elements
fruits[1]="watermelon"
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva']

In [17]:
## List Methods

fruits.append("orange")
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva', 'orange']

In [18]:
fruits.insert(1,"watermelon")
print(fruits)
print(fruits.index("watermelon"))

['apple', 'watermelon', 'watermelon', 'cherry', 'kiwi', 'gauva', 'orange']
1

In [19]:
fruits.remove("watermelon") ## Removing the first occurance of an item
print(fruits)

['apple', 'watermelon', 'cherry', 'kiwi', 'gauva', 'orange']

In [ ]:
fruits.index("watermelon")

1

In [20]:
## Remove and return the last element
popped_fruits=fruits.pop(4)
print(popped_fruits)
print(fruits)

gauva
['apple', 'watermelon', 'cherry', 'kiwi', 'orange']

In [ ]:
index=fruits.index("cherry")
print(index)

3

In [21]:
fruits.sort()
fruits

['apple', 'cherry', 'kiwi', 'orange', 'watermelon']

In [22]:
fruits.reverse()
fruits ## REverse the list

['watermelon', 'orange', 'kiwi', 'cherry', 'apple']

In [28]:
fruits[::-1]

['apple', 'cherry', 'kiwi', 'orange', 'watermelon']

In [29]:
fruits.clear() ## Remove all items from the list

print(fruits)

[]

In [31]:
## List comprehension


[x**2 for x in range(10) if x%2==0]

[0, 4, 16, 36, 64]

Tuples

In [ ]:
lst = list([1,2,3,4])

In [32]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [33]:
mixed_tuple=(1,"Hello World",3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [ ]:
print(numbers[2])
print(numbers[-1])

3
6

In [ ]:
## Tuple Operations

concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [ ]:
mixed_tuple*3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [ ]:
lst=[1,2,3,4,5]
print(lst)

lst[1]="Krish"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Krish', 3, 4, 5]

In [ ]:
numbers[1]="Krish"

TypeError: 'tuple' object does not support item assignment

In [34]:
## Packing and Unpacking tuple
## packing
packed_tuple=(1,"Hello",3.14)
print(packed_tuple)

(1, 'Hello', 3.14)

In [35]:
##unpacking a tuple
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [36]:
packed_tuple

(1, 'Hello', 3.14)

In [37]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [38]:
## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[1][1:3]

[7, 8]

In [ ]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

Sets

In [39]:
my_set={1,2,3,4,5} # if empty its a dict
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [ ]:
s= set([])

<class 'dict'>

In [40]:
my_empty_set=set([1,2,3,6,5,4,5,6]) # Contains unique values
print(my_empty_set)

{1, 2, 3, 4, 5, 6}

In [42]:
## Basics Sets Operation
## Adiing and Removing Elements
my_set.add(7)
print(my_set)
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 7}
{1, 2, 3, 4, 5, 6, 7}

In [44]:
# remove
my_set.remove(6)
my_set

KeyError: 6

In [46]:
#discard
my_set.discard(0)
my_set

{1, 2, 3, 4, 5}

In [ ]:
my_set

{1, 2, 3, 4}

In [50]:
### Counting Unique words in text
text="In this tutorial we are discussing about sets this we are "
words = text.split()
print(words)
uni = set(words)
print(len(uni))
print(uni)

['In', 'this', 'tutorial', 'we', 'are', 'discussing', 'about', 'sets', 'this', 'we', 'are']
8
{'discussing', 'we', 'In', 'about', 'tutorial', 'this', 'are', 'sets'}

Dictionary

In [ ]:
student={"name":"Krish","age":32,"grade":24}
print(student)
print(type(student))

{'name': 'Krish', 'age': 32, 'grade': 24}
<class 'dict'>

In [51]:
# Single key is slways used
student={"name":"Krish","age":32,"grade":24,"name":"gfg"}
print(student)

{'name': 'gfg', 'age': 32, 'grade': 24}

In [54]:
## accessing Dictionary Elements
student["gfg"]

KeyError: 'gfg'

In [58]:
## Accessing using get() method
student.get("name","not present")

'gfg'

In [59]:
student["age"]=33  ##update value for the key
print(student)
student["address"]="India" ## added a new key and value
print(student)

{'name': 'gfg', 'age': 33, 'grade': 24}
{'name': 'gfg', 'age': 33, 'grade': 24, 'address': 'India'}

In [60]:
del student['grade'] ## delete key and value pair

In [63]:
# keys and values function
print(student.items())

dict_items([('name', 'gfg'), ('age', 33), ('address', 'India')])

In [ ]:
# nested dictionaries
## Nested Disctionaries
students={
    "student1":{"name":"Krish","age":32},
    "student2":{"name":"Peter","age":35}
}
print(students)

{'student1': {'name': 'Krish', 'age': 32}, 'student2': {'name': 'Peter', 'age': 35}}

In [65]:
## Practical Examples

## USe a dictionary to count the frequency of elements in list
numbers = [1,2,2,3,3,3,4,4,5,5,6,6,6]
frequency = {}
for i in numbers:
  if i in frequency:   # {1:1,2:2}
    frequency[i]+=1
  else:
    frequency[i]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 2, 5: 2, 6: 3}

In [ ]:
# find unique common elements
list1 = [1, 2, 3, 4, 5, 6, 7, 2]
list2 = [5, 6, 7, 8, 9, 10, 6]

{5, 6, 7}

In [ ]:
# Write a program to count the frequency of each character in a given string and store it in a dictionary. Ignore spaces.
# Example Input:
text = "hello world"

# Numpy

In [ ]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (2.0.2)

In [ ]:
import numpy as np

In [ ]:
lst = [[1,2,3],
       [4,5,6],
       [7,8,9]]
lst

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
arr = np.array(lst)
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
arr.ndim #for dimension of array

2

In [ ]:
arr.shape

(3, 3)

In [ ]:
arr.size

9

In [ ]:
# zero and ones array

array([[0., 0., 0.],
       [0., 0., 0.]])

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [ ]:
# random function
np.random.random(3,3)

array([[0.9664926 , 0.80839658, 0.59613577],
       [0.30791778, 0.70495566, 0.92666656],
       [0.01913252, 0.12098327, 0.15817355]])

In [ ]:
np.random.randint(6)

0

In [ ]:
# arange
np.arange(1,10,5)

array([1, 6])

In [ ]:
# linspace
np.linspace(1,10,17)

array([ 1.    ,  1.5625,  2.125 ,  2.6875,  3.25  ,  3.8125,  4.375 ,
        4.9375,  5.5   ,  6.0625,  6.625 ,  7.1875,  7.75  ,  8.3125,
        8.875 ,  9.4375, 10.    ])

In [ ]:
# flatten

In [ ]:
p = np.random.random((3,5))
p

In [ ]:
# reshape
np.reshape(p,(5,3))

In [ ]:
# identity matrix

In [ ]:
# arr+1

In [ ]:
int(arr.max())

In [ ]:
int(arr.min())

In [ ]:
int(arr.sum())

In [ ]:
arr.max(axis=0) # column wise

In [ ]:
arr1 =np.array([[2,5,3],
                [4,2,7],
                [3,5,9]])
arr2 =np.array([[1,9,3],
                [2,2,7],
                [7,6,3]])

In [ ]:
arr3 = arr1+arr2

In [ ]:
# sorting

In [ ]:
# stacking and splitting