<a href="https://colab.research.google.com/github/Dhawaldwivedi/Bca-5th-sem-AI-mmdu/blob/main/ai-ml2-g2/basic_python_and_conditionals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("basics of python")

basics of python

# Comments

In [3]:
# single line comment
# This is a single line comment

In [4]:
# multi line comment
''' this is
      a multi line
      comment'''

print("hello world")

hello world

# Variables

In [10]:
# declaring and assigning variables
a = 10
print(a)
b = 3.2445
print(b)
c = "hello"
print(c)
d = True
print(d)

10
3.2445
hello
True

In [11]:
type(a)

int

In [12]:
type(b)

float

In [13]:
type(c)

str

In [14]:
type(d)

bool

In [21]:
# valid invalid variable names\
1a = 10
print(1a)

SyntaxError: invalid decimal literal (ipython-input-393190812.py, line 2)

In [24]:
# case sensitivity in python
name = "Dhawal"
Name = "dhawal"
print(name)
print(Name)

Dhawal
dhawal

In [27]:
## Understanding Variable types
## Python is dynamically typed,type of a variable is determined at runtime
var = 10
var = 3.6778
var = "mmdu"
print(var)

mmdu

In [29]:
# Type Conversion
a = 10
type(10)
b = str(a)
type(b)

str

In [31]:
c= int(b)
print(c)

10

In [37]:
c
d = float(c)
print(d)
print(type(d))

10.0
<class 'float'>

In [ ]:
# variables reinitialization

In [39]:
# input function
var = input("enter a name ")
print(var)

enter a name Aman
Aman

# Data Types

In [ ]:
# understanding different data types
# int
# float
# bool
# string

In [40]:
# adding 2 diff datatype variables
a = 10
b = 20.334
c = a+b
print(c)

30.334

In [42]:
a = "hello"
b = 5
c= a+ str(b)
print(c)

hello5

# Operators

In [46]:
# Arithmetic Operators
# addition
# subtraction
# multiplication
# division
# modulus
# floor division
# exponential
a = 10
b = 3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

13
7
30
3.3333333333333335
1
3
1000

In [50]:
# comparison operators
# equals ==
# not equals !=
# greater than
# less than
a = 10
b=5
print(a==b)
print(a!=b)
print(a>b)
print(a<b)

False
True
True
False

In [56]:
# logical operators
# and
# or
# not
a = True
b = False
print(a and b)
print(a or b)
print(not b)

False
True
True

# simple calculator program

In [ ]:
# create a simple calculator program taking 2 inputs from user and printing different arithemtic outputs

# Conditionals

In [ ]:
# basics which enables decision making in python

In [57]:
a = 5
if a>4:
  print("a is greater than 4")

a is greater than 4

In [58]:
#Q) Find if the number is even
if a%2==0:
  print("even")
else:
  print("odd")

odd

In [ ]:
# elif
# if condition:
    #print(true)
# elif conditon2:
#    print(true)
# else:
# print(true)

In [61]:
# nested conditonals
## number even ,odd,negative
a = -3
if a>0:
  if a%2==0:
    print("even")
  else:
    print("odd")
else:
  print("negative")

negative

In [ ]:
## Simple Calculator program
# Take user input for operation

In [ ]:
 # A simple user login system that checks the username and password.
user = "admin"
password = "admin@123"

In [ ]:
# marks baSED ON grade
''' 90+ --> A+
    80-89 -->A
    70-79 --> B
    50-69 --> C
    below 50 --> D '''