<a href="https://colab.research.google.com/github/Dhawaldwivedi/Bca-5th-sem-AI-mmdu/blob/main/ai-ml2-g3/basic_python_and_conditionals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [153]:
print("hey")

hey

# Comments

In [131]:
# single line comment
# This is a single line comment

In [155]:

# multi line comment
''' this is
a multiline
comment'''
print("hey")

hey

# Variables

In [133]:
# declaring and assigning variables

In [158]:
a = 10
print(a)

10

In [159]:
b = 2.33
print(b)

2.33

In [160]:
c= "hey"
print(c)

hey

In [161]:
d = True
print(d)

True

In [163]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [134]:


# valid invalid variable names
-ab=10
a@b = 12
1ab

In [166]:
# case sensitivity in python
name1= "dhawal"
print(Name1)

NameError: name 'Name1' is not defined

In [136]:
## Understanding Variable types
## Python is dynamically typed,type of a variable is determined at runtime

In [168]:
# Type Conversion

a=10
type(a)
b= float(a)
type(b)

float

In [169]:
c=str(a)
type(c)

str

In [170]:
d = "hey"
v = int(d)

ValueError: invalid literal for int() with base 10: 'hey'

In [172]:
# variables reinitialization
v = 10
v=45.8
v

45.8

In [175]:
# input function
v = int(input("enter the number "))
v

enter the number 12

12

In [176]:
type(v)

int

# Data Types

In [140]:
# understanding different data types
# int
# float
# bool
# string

In [177]:
# adding 2 diff datatype variables

a = 110
b = 34.5
c = a+b
type(c)

float

In [179]:
a = 10
b = "hey"
c = str(a)+b
print(c)

10hey

# Operators

In [182]:
# Arithmetic Operators
# addition
# subtraction
# multiplication
# division
# modulus
# floor division
# exponential
a=12
b=5
print(a/b)
print(a//b)
print(a**b)

2.4
2
248832

In [143]:
# comparison operators
# equals ==
# not equals !=
# greater than
# less than
a==b
a!=b
a>b
a<b

In [144]:
# logical operators
# and
# or
# not

# simple calculator program

In [145]:
# create a simple calculator program taking 2 inputs from user and printing different arithemtic outputs

# Conditionals

In [146]:
# basics which enables decision making in python

In [183]:
a=10
if a>5:
 print("a is greater than 5")
else:
  print("a is less than 5")

a is greater than 5

In [147]:
#Q) Find if the number is even

In [148]:
# elif
# if condition:
    #print(true)
# elif conditon2:
#    print(true)
# else:
# print(true)
if()
if()        if()
            elif()

In [149]:
# nested conditonals
## number even ,odd,negative

In [150]:
## Simple Calculator program
# Take user input for operation

In [151]:
 # A simple user login system that checks the username and password.
user = "admin"
password = "admin@123"

In [152]:
# marks baSED ON grade
''' 90+ --> A+
    80-89 -->A
    70-79 --> B
    50-69 --> C
    below 50 --> D '''

' 90+ --> A+\n    80-89 -->A\n    70-79 --> B\n    50-69 --> C\n    below 50 --> D '