<a href="https://colab.research.google.com/github/Dhawaldwivedi/Bca-5th-sem-AI-mmdu/blob/main/ai-ml1-g2/basic_python_and_conditionals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [85]:
print("hello")

hello

# Comments

In [86]:
# single line comment
# This is a single line comment

In [88]:
# multi line comment
''' this is a
  multi line
  comment '''
print("hello")

hello

# Variables

In [91]:
# declaring and assigning variables
a = 10
print(a)

10

In [92]:
b = 3.4556
print(b)

3.4556

In [93]:
c = "mmdu"
print(c)

mmdu

In [94]:
d = False
print(d)

False

In [96]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [99]:
# valid invalid variable names
1ab = 22
print(1ab)

SyntaxError: invalid decimal literal (ipython-input-3625386655.py, line 2)

In [105]:
# case sensitivity in python
name1 = "Dhawal"
Name1 = "Dwivedi"
print(Name1)
print(name1)

Dwivedi
Dhawal

In [110]:
## Understanding Variable types
## Python is dynamically typed,type of a variable is determined at runtime
a = "123"
type(a)

str

In [114]:
# Type Conversion
a = 10
print(type(a))
b = str(a)
print(type(b))
c = float(a)
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [115]:
a ="gfg"
b = int(a)
print(b)

ValueError: invalid literal for int() with base 10: 'gfg'

In [118]:
# variables reinitialization
var = 10
var = 12.567
var = "hey"
print(var)

hey

In [123]:
# input function
v = int(input("enter the number "))
print(v)

enter the number 23
23

# Data Types

In [72]:
# understanding different data types
# int
# float
# bool
# string

In [124]:
# adding 2 diff datatype variables
a= 45
b = 4.67
c = a+b
print(c)
print(type(c))

49.67
<class 'float'>

In [126]:
a = 2
b = "abc"
c = str(a)+b
c

'2abc'

# Operators

In [130]:
# Arithmetic Operators
# addition
# subtraction
# multiplication
# division
# modulus
# floor division
# exponential
a = 12
b = 5
d = a/b
print(d)
c = a//b
print(c)
e = a**b
print(e)

2.4
2
248832

In [131]:
# comparison operators
# equals ==
# not equals !=
# greater than
# less than
print(a==b)
a!=b
a>b  # true
a<b   # false

False

In [135]:
# logical operators
# and
# or
# not
a = True
b = False
print(a and b)
print(a or b)
print(not b)

False
True
True

# simple calculator program

In [77]:
# create a simple calculator program taking 2 inputs from user and printing different arithemtic outputs

# Conditionals

In [78]:
# basics which enables decision making in python

In [137]:
a = 3
if a>5:
  print("a is greater than 5")
else:
  print("a is smaller than 5")

a is smaller than 5

In [79]:
#Q) Find if the number is even

In [80]:
# elif
# if condition:
    #print(true)
# elif conditon2:
#    print(true)
# else:
# print(true)

In [139]:
# nested conditonals
## number even ,odd,negative
a = int(input("enter a number "))
if a>0:
  if a%2==0:
    print("even")
  else:
    print("odd")
else:
  print("negative")

enter a number -3
negative

In [82]:
## Simple Calculator program
# Take user input for operation

In [83]:
 # A simple user login system that checks the username and password.
user = "admin"
password = "admin@123"

In [84]:
# marks baSED ON grade
''' 90+ --> A+
    80-89 -->A
    70-79 --> B
    50-69 --> C
    below 50 --> D '''

' 90+ --> A+\n    80-89 -->A\n    70-79 --> B\n    50-69 --> C\n    below 50 --> D '